@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('travel.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
   display: flex;
   padding: 1% 4%;
   justify-content: space-between;
   align-items: center;
}

nav .logo {
    display: flex;
    padding: 8px 12px;
    width: 240px;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    font-weight: 500;
}

nav .logo a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

nav img {
    width: 110px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    display: inline-block;
    list-style: none;
    padding: 8px 18px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #0a1172;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1 {
    font-size: 56px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 16px;
    color: #fff;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    transition: 1s;
    font-weight: 400;
}

.btn:hover {
    border: 1px solid #007fff;
    background: #007fff;
}


.plan{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 46px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.row .plan-col {
    flex-basis: 31%;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s    ;
}

.row .plan-col img {
    width: 100%;
    margin-bottom: 25px;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.plan-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.trip {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.trip-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.trip-col img {
    width: 100%;
    display: block
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(62,142,222,0.7);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}